apiVersion: v1
kind: Secret
metadata:
  name: railsapp-secrets
type: Opaque
data:
  secret-key-base: ZWI4MmM0NjNlZTNiY2YxY2EyNWVjMTQ0Yzc2NzBmZWE4OGFlNWEyZGM4ZmVhMDRlMDM2NDRmNDQ5MDczNmIzOTVhYjA1NjUyZTgwMDFmZDY5MDAxZmZjMDE0ODBhYmJhMmIyMjA3MWI0NWU4NjJjMjIzMzAxZTJlNDZiZDI0MWQK
  database-url: bXlzcWw6Ly9yb290QHRlc3Q5OUAxMjcuMC4wLjEvcmFpbHNhcHA=
