<h1>Welcome</h1>

<p>
This project is a two fold creature.  First is the Rails project and second is the setup to distribute a container for either Docker or Kubernetes.
</p>
<p>
RothStock started as an attempt to determine stocks for my Roth account years ago (read when I had money :)).
</p>
<p>

The idea
<ul>
<li>Buy stock that pays a dividend</li>
<li>When such a dividend is paid, buy more shares of the same stock</li>
</ul>
</p>
<p>

This process gives a two fold return on an invenstment:
<ul>
<li>The rising (one hopes) price of the stock</li>
<li>The the increased amount of stock (original stock + shares bought by dividend)</li>
</ul>
</p>

