            <nav id="sidebar">
                <div class="sidebar-header">
                  <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <i class="glyphicon glyphicon-align-left"></i>
                  </button>
                </div>

                <ul class="list-unstyled components">
                    <li class="active">
                        <a href="/">
                            <i class="glyphicon glyphicon-home"></i>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/about">
                            <i class="glyphicon glyphicon-briefcase"></i>
                            About
                        </a>
                    </li>
                    <li>
			<a href="/stocks">
                            <i class="glyphicon glyphicon-list"></i>
				Stocks</a>
                    </li>
                    <li>
                        <a href="/industries">
                            <i class="glyphicon glyphicon-oil"></i>
				Industries</a>
                    </li>
                    <li>
                        <a href="/sectors">
                            <i class="glyphicon glyphicon-tree-conifer"></i>
				Sectors</a>
                    </li>
                    <li>
                        <a href="/portfolios">
                            <i class="glyphicon glyphicon-link"></i>
                            Portfolio
                        </a>
                    </li>
                    <li>
                        <a href="/faq">
                            <i class="glyphicon glyphicon-paperclip"></i>
                            FAQ
                        </a>
                    </li>
                                                                                                               
                   <li>
                        <a href="/contact">
                            <i class="glyphicon glyphicon-send"></i>
                            Contact
                        </a>
                    </li>
                </ul>

                <ul class="list-unstyled CTAs">
<li><a href="https://www.linux.com/blog/learn/chapter/Intro-to-Kubernetes/2017/5/set-cicd-pipeline-kubernetes-part-1-overview" class="article">Set Up a CI/CD Pipeline with Kubernetes Part 1: Overview</a>
<li><a href="https://www.linux.com/blog/learn/chapter/Intro-to-Kubernetes/2017/6/set-cicd-pipeline-jenkins-pod-kubernetes-part-2" class="article">Set Up a CI/CD Pipeline with a Jenkins Pod in Kubernetes (Part 2)</a>
<li><a href="https://stackoverflow.com/questions/19104847/how-to-generate-a-dockerfile-from-an-image?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa" class="article">dockerfile-from-image</a>
                </ul>
            </nav>
