            <nav id="sidebar">
                <div class="sidebar-header">
                  <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <i class="glyphicon glyphicon-align-left"></i>
                  </button>
                </div>

                <ul class="list-unstyled components">
                    <li class="active">
                        <a href="/">
                            <i class="glyphicon glyphicon-home"></i>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/pages/about">
                            <i class="glyphicon glyphicon-briefcase"></i>
                            About
                        </a>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                            <i class="glyphicon glyphicon-duplicate"></i>
                            Items
                        </a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li><a href="/stocks">Stocks</a></li>
                            <li><a href="/industries">Industries</a></li>
                            <li><a href="/sectors">Sectors</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/portfolios">
                            <i class="glyphicon glyphicon-link"></i>
                            Portfolio
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-paperclip"></i>
                            FAQ
                        </a>
                    </li>
                                                                                                               
                   <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-send"></i>
                            Contact
                        </a>
                    </li>
                </ul>

                <ul class="list-unstyled CTAs">
                    <li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a></li>
                    <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>
                </ul>
            </nav>
